{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Green Gourmet{% endblock %}

{% block body %}
<section class="home">
    <div class="welcome">
        <p>Vous disposez d'un régime alimentaire spécifique ?</p>
        <p>Trouvez un restaurant adapté pour vous !</p>
        <a href="{{ path('app_restaurant') }}">Découvrir les restaurants</a>
    </div>
    <div class="intro">
        <p>Bienvenue chez Green Gourmet</p>
        <p>Retrouvez chez nous tous les restaurants locaux qui ont à coeur de vous proposer une cuisine responsable et respectueuse de vos préférences alimentaires et éthiques.</p>
        <p>Explorez notre site, le répertoire ultime des restaurants locaux engagés dans une cuisine responsable, respectueuse de vos préférences alimentaires et de vos valeurs. Nous sommes fiers de rassembler une communauté de restaurants qui partagent notre passion pour la qualité et la responsabilité. Chez nous, nous mettons tout en œuvre pour vous offrir une sélection minutieuse des établissements qui vont au-delà de la simple satisfaction culinaire. Notre engagement consiste à vous connecter avec des lieux qui comprennent l'importance de vos choix alimentaires et éthiques. Parcourez notre répertoire et découvrez des endroits où le plaisir culinaire rencontre la conscience éthique. Parce que nous croyons que choisir où manger devrait être une expérience qui reflète vos valeurs aussi bien que vos goûts.</p>
        <p>Ici, nous tenons à offrir le meilleur à votre palais et vos valeurs.</p>
    </div>
</section>
{% endblock %}
